name: CD

on:
  push:
    branches:
      - main
      - test
    tags:
      - 'v*.*.*'

env:


jobs:
  docker-build-push:
    runs-on: ubuntu-latest
    permission:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup QEMU
        uses: docker/setup-qemu-action@v3

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          registry: docker.io
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrests.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: |
            docker.io/${{ env.IMAGE_NAME }}:latest
            docker.io/${{ env.IMAGE_NAME}}:${{ github.sha }}
          cache-from: type=registry,ref=docker.io/${{ env.IMAGE_NAME }}:cache
          cache-to: type=inline