name: CI - Build and Test

on:
  workflow_call:
    inputs:
      node-version:
        required: true
        type: string
      mongodb-uri:
        required: true
        type: string

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    services:
      mongodb:
        image: mongo:7
        ports:
          - 27017:27017
        options: >-
          --health-cmd "mongosh --eval 'db.adminCommand({ping: 1})'"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ inputs.node-version }}
          cache: "npm"

      - name: Set NODE_ENV
        run: |
          if [ "${{ github.ref_name }}" = "main" ]; then
            echo "NODE_ENV=production" >> $GITHUB_ENV
          elif [ "${{ github.ref_name }}" = "dev" ]; then
            echo "NODE_ENV=development" >> $GITHUB_ENV
          elif [ "${{ github.ref_name }}" = "test" ]; then
            echo "NODE_ENV=testing" >> $GITHUB_ENV
          fi

      - name: Install dependencies
        env:
          NODE_ENV: testing
          NPM_CONFIG_PRODUCTION: false
        run: npm ci

      - name: Run tests
        env:
          MONGODB_URI: ${{ inputs.mongodb-uri }}
          PORT: 3000
          NODE_ENV: ${{ env.NODE_ENV }}
        run: npm run test

      - name: Build
        run: npm run build
