name: CI/CD
on:
  push:
    branches: [main, test, dev]
    tags:
      - "v*.*.*"
  pull_request:
    branches: [main, test, dev]

concurrency:
  group: ci-cd-${{ github.ref }}
  cancel-in-progress: true

env:
  REGISTRY: docker.io
  BASE_IMAGE_NAME: ${{ secrets.DOCKERHUB_USERNAME }}/${{ secrets.IMAGE_NAME }}
  REGISTRY_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
  REGISTRY_PASSWORD: ${{ secrets.DOCKERHUB_TOKEN }}

jobs:
  build-and-test:
    uses: ./.github/workflows/ci.yml
    with:
      node-version: 22
      mongodb-uri: mongodb://localhost:27017/tm-test

  # Job 2: Build & Push Docker - Runs for 'test' and 'main' only
  docker-build-push:
    if: github.event_name == 'push' && (github.ref_name == 'test' || github.ref_name == 'main')
    needs: build-and-test
    permissions:
      contents: read
      packages: write
    uses: ./.github/workflows/docker-build.yml
    secrets: inherit
    with:
      registry: docker.io

  # Job 3: Deploy to Test Environment
  deploy-to-test:
    if: github.event_name == 'push' && github.ref_name == 'test'
    needs: docker-build-push
    uses: ./.github/workflows/deploy.yml
    secrets: inherit
    with:
      environment: test
      image-tag: ${{ needs.docker-build-push.outputs.image_tag }}
      host-secret: EC2_TEST_HOST
      user-secret: EC2_TEST_USER
      key-secret: EC2_TEST_SSH_KEY
      port-secret: EC2_TEST_SSH_PORT

  # Job 4: Deploy to Production
  deploy-to-production:
    if: github.event_name == 'push' && github.ref_name == 'main'
    needs: docker-build-push
    uses: ./.github/workflows/deploy.yml
    secrets: inherit
    with:
      environment: production
      image-tag: ${{ needs.docker-build-push.outputs.image_tag }}
      host-secret: EC2_HOST
      user-secret: EC2_USER
      key-secret: EC2_SSH_KEY
      port-secret: EC2_SSH_PORT
